.Activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 3rem 0;
  color: var(--font-b1)
}

.Activities h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.Activities h4 {
  margin-bottom: 1rem;
}

.Activities-Slide-Left-Button {
 background-color: var(--primary);
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.Activities-Slide-Right-Button {
  background-color: var(--primary);
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.Activities-Slide {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  overflow-y: auto;
}

.Activities-Slide-Content{
  display: flex;
  overflow-y: hidden;
  max-width: 60rem;
}

.Activities-Slide-Content::-webkit-scrollbar {
  display: none;
}