.ActivityCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 20rem;
  height: 23rem;
}

.ActivityCard-Image {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.ActivityCard img {
  object-fit: cover;
  width: 100%;
}

.ActivityCard-Image::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fde877;
  border-radius: 50%;
  z-index: -100;
}

.ActivityCard:nth-child(2) .ActivityCard-Image::before {
  background-color: #269dd1;
}

.ActivityCard:nth-child(3) .ActivityCard-Image::before {
  background-color: #bcd002;
}

.ActivityCard:nth-child(4) .ActivityCard-Image::before {
  background-color: #C58884;
}

.ActivityCard:nth-child(5) .ActivityCard-Image::before {
  background-color: #337da1;
}

.ActivityCard:nth-child(6) .ActivityCard-Image::before {
  background-color: #cf5045;
}

.ActivityCard-Details,
.ActivityCard-Description {
  text-align: center;
}

.ActivityCard-Details h5 {
  text-transform: uppercase;
}

.ActivityCard-Description {
  color: var(--font-b4);
  font-weight: bold;
  font-size: 0.9rem;
}

.ActivityCard-Link-Social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--font-b3);
  border-radius: 5rem;
  width: 2rem;
  height: 2rem;
  color: var(--font-b4);
}

.ActivityCard-Social {
  margin: 0 auto;
  width: 8rem;
  display: flex;
  justify-content: space-around;
}
