.LandingPage {
  background-image: url("../images/landing_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.LandingPage h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}

.LandingPage h3 {
  letter-spacing: 0.2rem;
}
